* { box-sizing: border-box; }
body{margin: 0;}

.columnas{
  border: thin solid black;
    width: 33.333333333%;
    float: left;
    overflow: hidden;
}
.todo{
  width: 80%;
   text-align: center;
   margin: 0 auto;
}
.menu{
  border: thin solid black;
}
 .logo{
     width: 33%;
    float: left;
     overflow: hidden;
 }
.abajo-logo{
  width: 33.333333333%;
}
.copy{
  border: thin solid black;

}
.cards{
  width:1000px;
  height: 1000px;
 float:left;
  overflow: hidden;
}
